/* Header.module.css */
.header {
  color :aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: maroon;
  padding: 1rem;
}

.main-image {
  position: relative;
  margin-bottom: 20px; /* Add margin to create space below the image */
}

.main-image img {
  width: 100%; /* Make the image cover the full horizontal width */
  height: 100px; /* Adjust the height as needed, leaving space below the image */
  object-fit: cover; /* Maintain the aspect ratio and cover the specified height */
}